<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% for(let i in htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.js){ %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>
    <% } %>
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">WGB'小破站</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tools.html">Tool</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <button class="btn btn-outline-success me-2" id="wallet_connect" type="button">Connect</button>
          </div>
        </div>
    </nav>

    <div style="background-color: #e4e6eb;" >
      <div class="container-xxl" style="background-color: #e4e6eb; margin-top: 1.767rem;">
        <div class="row">
          <div class="col-8">
            
            <h1 class="title">
              
            </h1>
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <% for(let i = 0 ; i < 10 ; i++ ){ %>
              <div class="card" >
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text.</p>
                <a href="{{ page.permalink | safe }}" class="card-link">link to </a>
                </div>
              </div>
            <% } %>
          </div>
            

          </div>
          
          <div class="col-4">
            <div class="card mb-3" style="max-width: 360px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">不霁何虹</h5>
                    <p class="card-text">Web3.0 builder Move developer</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-sticky" style="top: 2rem;">
              <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link" href="#item-1">Item 1</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                  </nav>
                  <a class="nav-link" href="#item-2">Item 2</a>
                  <a class="nav-link" href="#item-3">Item 3</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
                  </nav>
                </nav>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
        

</body>
</html>