{% extends "sections.html" %}



{% block contentWithCategory %}


  <h1 class="title" style="padding-bottom: 4px;font-size: 2.5em;line-height: 1.5;">
    {{ page.title }}
  </h1>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0" >
    <article>
      {{ page.content | safe }}
    </article>
  </div>


{% endblock contentWithCategory %}


{% block toc %}

{% if page.toc %}
          <div class="position-sticky" style="top: 2rem;">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end"  style="background-color: #ffffff;">
              <nav class="nav nav-pills flex-column">
                {% for h1 in page.toc %}
                  <a class="nav-link" href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                  {% if h1.children %}
                    <nav class="nav nav-pills flex-column">
                    {% for h2 in h1.children %}
                      <a class="nav-link ms-3 my-1" href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </nav>
            </nav>
          </div>
{% endif %}


{% endblock toc %}