{% extends "header.html" %}

{% block content %}
<div style="background-color: #e4e6eb;">
    <div class="container-xxl">
      <div class="row">
        <div class="col-8"  style="background-color: #ffffff;">
          
          <h1 class="title">
            
          </h1>
  
          {% block contentWithCategory %} {% endblock contentWithCategory %}

        </div>
        
        <div class="col-4">
          <div class="card mb-3" style="max-width: 360px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">不霁何虹</h5>
                  <p class="card-text">Web3.0 builder Move developer</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
            </div>
          </div>

          {% block toc %} {% endblock toc %}

          
          
        </div>
      </div>
    </div>
  </div>
  {% endblock %}